.item {
  font-size: 16px;
  font-weight: 500;
  color: #31525B;
  cursor: pointer;
}

.item:hover {
  color: #32A1BB;
  transition: .3;
}

.ant-btn-primary {
  cursor: pointer;
  color: #fff;
  background-color: #31525B !important;
  border: none !important;
}
.ant-btn-primary:hover {
  cursor: pointer;
  color: #fff !important;
  background-color: #32A1BB !important;
}

.add-icon {
  cursor: pointer;
  color: #31525B !important;
}

.add-icon:hover {
  color: #32A1BB !important;
  cursor: pointer;
  transition: .3;
}

.trash {
  cursor: pointer;
}

.trash:hover {
  color: red !important;
  cursor: pointer;
  transition: .3;
}

.ant-table-thead, th {
  background: #e5f9ff !important;
}

.ant-tabs, .ant-tabs-nav {
  font-weight: 500;
}

.form-label {
  font-size: 1.7rem;
  font-weight: 500;
  color: #243b53;
}

.search {
  font-size: 24px !important;
}

.Toastify__progress-bar--default {
  background: green !important;
}

.Toastify__progress-bar--error {
  background: rgb(201, 125, 125);
}